/*Common Styles*/
@import url(https://fonts.googleapis.com/css?family=Roboto);
nav > a {
	padding: 3%;
	font-family: Verdana;
	font-size: 16px
	color: #009688; /*how to change the color for hyperlinks*/
}
h1 {
	text-align: center;
}
h1 > a {
	color: #006064;
	font-family: Verdana;
	font-size: 2.5em;
}
h2 {
	color: #00838F;
	font-size: 40px;
	font-family: Verdana;
	text-align: center;
}
h2 > a {
	color: #00838F;
	font-size: 40em;
	font-family: Verdana;
	text-align: center;
}
p {
	text-align: center;
	color: #0097A7;
	font-size: 1.2em;
}
a:hover{
	color: #E91E63;
}
.tool-bar {
	background-color: #90A4AE;
}
.button {
	text-align: center;
	margin: 3px;
	padding: 7px;

}
button {
	background-color: #006064;
	padding: 3px 10px 3px 10px;
	width: 100px;
	height: 100px;
	font-size: 12pt;
	color: white;
	font-family: Roboto;
	border-radius: 10%;
	font-variant: small-caps;
	font-size: 12
}
.table{
	border: none;
	padding-left: 225px;
}
.goal-list{
	text-align: center;
}


/*Main Page Styles*/
